<form class="" action="/users" method="post">
  <h2>Please enter your new password</h2>
  <input type="hidden" name="_method" value="patch">
  <label for="user_password">Password</label>
  <input type="password" required name="user_password" value="">

  <label for="password_confirmation">Confirm Password</label>
  <input type="password" required name="password_confirmation" value="">
  <button type="submit" id="reset_password" name="reset_password">Reset Password</button>
</form>
